<ul>
  {{#each products}}
    <li>
      <a href="/products/{{this._id}}">{{this.name}}</a> - ${{this.price}}
      <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    </li>
  {{/each}}
</ul>
<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>
